page-regular-cash {
    [col-6] {
        padding: 8px 5px;
        font-size: 12px;
    }
    [col-8] {
        padding: 9px 0px !important;
    }
    .text-input {
        border-bottom-width: 1px;
        border-style: solid;
        border-color: initial;
        border-image: initial;
        background: transparent;
    }
   
}