page-nozzle-totalizer {
  [col-6] {
    padding: 8px 0px;
    font-size: 16px;
  }
  .select-text {
    min-width: 100%;
  }
  

.input {
    // padding: 0px 0px;
    // padding-top: 0px;
    // padding-right: 0px;
    padding: 0px !important;
    text-align: right;
    margin: 0px 0px;
}
// .text-input {
//   padding: 0px !important;
//   text-align: right;
//   margin: 0px 0px;
// }
}
