page-manager-add {
    [col-12] {
        padding: 0px !important;
    }
    .item {
        padding-left: 0px !important;
    }
    .button-full {
        margin-top: 10px
    }
    .input-wrapper {
        position: static;
        border-bottom: 1px solid #07388e; // font-size: 12px;
    }
}