page-change-password {
   input {
        outline: none;
        border: none;
    }
    .text-input {
        margin: 10px !important;
        text-align: left !important;
        border-bottom: 1px solid #dddddd;
    }
}
