<ion-header>
     
    <ion-navbar hideBackButton>
      <ion-row>
          <ion-col col-1>
              <ion-icon ios="ios-home" style="font-size: 1.7em;color: white;" md="md-home" (click)="home()"></ion-icon>
            </ion-col>
        <ion-col col-11>
          <ion-title class="centerali">Change Password</ion-title>
        </ion-col>
      </ion-row>
    </ion-navbar>
    
  </ion-header>

<ion-content padding="true" overflow-scroll="false" has-bouncing="false">
  <ion-card>
    <ion-card-content>
      <form novalidate [formGroup]="user">
        <div *ngIf="userInfo.show" class="wrap-input100 validate-input " data-validate="Enter password">
          <ion-row>
            <ion-label stacked>Current Password:</ion-label>
            <ion-input [type]="userInfo.password_type" clearOnEdit="false" formControlName="opassword" class="form-control" [(ngModel)]="userInfo.opassword"
              required></ion-input>
            <ion-icon name="eye" style="float: right;padding-top: 13px;" icon-right (click)="togglePasswordMode()"></ion-icon>
          </ion-row>
        </div>
        <ion-item text-wrap no-lines *ngIf="( user.get('opassword').hasError('required')) && user.get('opassword').touched">
          <div class="error" *ngIf="user.get('opassword').hasError('required') && user.get('opassword').touched">
            *Password is required.
          </div>
        </ion-item>

        <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
          <ion-row>
            <ion-label stacked>New Password:</ion-label>
            <ion-input [type]="userInfo.password_type1" clearOnEdit="false" formControlName="npassword" class="form-control" [(ngModel)]="userInfo.npassword"
              required></ion-input>
            <ion-icon name="eye" style="float: right;padding-top: 13px;" icon-right (click)="togglePasswordMode1()"></ion-icon>
          </ion-row>
        </div>
        <ion-item text-wrap no-lines *ngIf="( user.get('npassword').hasError('required') ||  user.get('npassword').hasError('pattern')) && user.get('npassword').touched">
          <div class="error" *ngIf="user.get('npassword').hasError('required') && user.get('npassword').touched">
            *New Password is required.
          </div>
          <div class="error" *ngIf="user.get('npassword').hasError('pattern') && user.get('npassword').touched">
            The password must be 8 chars with 1 lowercase, 1 uppercase, 1 digit and 1 special char from<b style="color:black">!@#$</b>
          </div>
        </ion-item>
        <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
          <ion-row>
            <ion-label stacked>Confirm Password:</ion-label>
            <ion-input [type]="userInfo.password_type2" clearOnEdit="false" formControlName="cpassword" class="form-control" [(ngModel)]="userInfo.cpassword"
              required></ion-input>
            <ion-icon name="eye" style="float: right;padding-top: 13px;" icon-right (click)="togglePasswordMode2()"></ion-icon>
          </ion-row>
        </div>
        <ion-item text-wrap no-lines *ngIf="( user.get('cpassword').hasError('required') ||  user.get('cpassword').hasError('pattern')) && user.get('cpassword').touched">
          <div class="error" *ngIf="user.get('cpassword').hasError('required') && user.get('cpassword').touched">
            *Confirm Password is required.
          </div>
          <div class="error" *ngIf="user.get('cpassword').hasError('pattern') && user.get('cpassword').touched">
            The password must be 8 chars with 1 lowercase, 1 uppercase, 1 digit and 1 special char from<b style="color:black">!@#$</b>
          </div>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-row>
      <ion-col col-12>
        <button ion-button full color="primary" (click)="submit()">
          Reset Password
        </button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>