page-tdriver-deactivate {
    .item-md {
        padding-left: 0px !important;
    }
    .item-ios {
        padding-left: 0px !important;
    }
    .col {
        padding: 1px !important;
    }
    .grid {
        font-size: 14px !important;
    }
    .row {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-color: #b0afaf;
        padding: 4px 0px;
    }
}