page-contact-us {
    .item {
        padding-left: 16px;
    }
    .label {
        margin: 5px 8px 5px 0;
    }
    ion-input,
    ion-textarea {
        border-bottom: 1px #4c6df9 solid;
    }
    .list-md {
        margin: 10px 0 16px;
    }
}