page-tdriver-list {
    .item{
        padding-left: 0px;
        border-bottom: 1px solid #dedede;
    }
    .segment .segment-button {
        padding: 0px 0px !important;
        font-size: 1.1rem;
    }
}