<ion-header>
   
  <ion-navbar hideBackButton>
    <ion-row>
      <ion-col col-1>
        <ion-icon name="md-arrow-round-back" style="font-size: 1.7em;color: white;" (click)="home()"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <ion-title class="centerali">Raise Request</ion-title>
      </ion-col>
      <ion-col col-1>
        <button ion-button float-right menuToggle icon-only style="display: block !important;" (click)="menuClick()">
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
  
</ion-header>
<ion-content padding="true" overflow-scroll="false" has-bouncing="false">
  <div class="container" style="z-index: 10000;">
    <h6 style="color:#999;margin-bottom: 0px;">Enter State</h6>
    <input id="country" type="text" style="width: 40%;height:100%;" class="validate filter-input input-reg" [(ngModel)]=query
      (keyup)=filter()>
    <div class="shital-box" *ngIf="stateName.length > 0">
      <ul *ngFor="let item of stateNameList">
        <li *ngIf="query.length > 2">
          <a (click)="select(item)">{{item}}</a>
        </li>
      </ul>
    </div>
    <div style="color:red;" *ngIf="showEmpty">
      Sorry, No State found.
    </div>
  </div>
  <form novalidate [formGroup]="user">
    <ion-item *ngIf="show">
      <ion-label slack>Selected State</ion-label>
      <ion-label slack text-right>{{state}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slack><span style="color: red;">*</span>Select Pump</ion-label>
      <ion-select [(ngModel)]="pumpId" formControlName="pump" class="form-control" #reqPump (ionChange)="selectPump(reqPump.value)">
        <ion-option *ngFor="let pump of pumpList;let i = index" [value]="pump">
          {{pump.pumpName}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines *ngIf="( user.get('pump').hasError('minlength') || user.get('pump').hasError('required') ) && user.get('pump').touched">

      <div class="error" *ngIf="user.get('pump').hasError('required') && user.get('pump').touched">
        *Pump is required
      </div>
    </ion-item>
    <!-- <div style="color:#999;" *ngIf="balanceLimit"> -->
      <ion-row style="color: red;"  *ngIf="balanceLimit">
        <ion-col col-6>
            Available Limit
        </ion-col>
      <ion-col col-6>
          {{balanceLimit |Mcurrency:'2'}}
      </ion-col>
      </ion-row>
      <!-- <ion-label>Available Limit</ion-label>
      <ion-label >{{balanceLimit}}</ion-label> -->
    <!-- </div> -->

    <div class="container" style="z-index: 10000;">
      <h6 style="color:#999;margin-bottom: 0px;"><span style="color: red;">*</span>Enter Vehicle</h6>
      <input type="text" style="width: 40%;height:100%;" formControlName="vehicle" class="form-control" #reqVehicle
        class="validate filter-input input-reg" [(ngModel)]=queryVehicle (keyup)=filterVehicle()>

      <div class="shital-box" *ngIf="vehicleName.length > 0 && showValue">
        <ul *ngFor="let item of vehicleNameList">
          <li *ngIf="queryVehicle.length > 2">
            <a (click)="selectVeh(item)">{{item}}</a>
          </li>
        </ul>
      </div>
      <div style="color:red;" *ngIf="showEmptyVehicle">
        If Vehicle is not here, Check in deactive list.
      </div>
    </div>
    <ion-item *ngIf="( user.get('vehicle').hasError('minlength') || user.get('vehicle').hasError('required') ) && user.get('vehicle').touched">

      <div class="error" *ngIf="user.get('vehicle').hasError('required') && user.get('vehicle').touched">
        *Vehicle is required
      </div>
    </ion-item>
    <ion-item *ngIf=FuelName>
      <ion-label slack> Fuel Type</ion-label>
      <ion-label slack text-right>{{FuelName}}</ion-label>
    </ion-item>

  </form>
  <ion-item >
    <ion-label slack>Select Fuel Request Type</ion-label>
    <ion-select [(ngModel)]="crequest.requestType" (ionChange)="requestType(crequest.requestType)">
      <ion-option value=1> Full Tank</ion-option>
      <ion-option value=2 selected>By Amount.</ion-option>
      <ion-option value=3>By Quantity</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="crequest.requestType==3">
    <ion-label inline>Fuel Qty.</ion-label>
    <ion-input type="number" [(ngModel)]="crequest.fuelRequested"></ion-input>
  </ion-item>
  <ion-item *ngIf="crequest.requestType==2">
    <ion-label inline>Fuel Amt (Rs)</ion-label>
    <ion-input type="number" [(ngModel)]="crequest.fuelRequested"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label inline>Cash Rs</ion-label>
    <ion-input type="number" [(ngModel)]="crequest.cashRequested"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label inline>Driver Name</ion-label>
    <ion-input type="text" [(ngModel)]="crequest.driverName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label inline>Driver Mobile No.</ion-label>
    <ion-input type="number" [(ngModel)]="crequest.driverMobileNo"></ion-input>
  </ion-item>
  <ion-list>
    <ion-row>
      <ion-col col-12>
        <button ion-button full (click)="addRequest()">
          Submit
        </button>
      </ion-col>
    </ion-row>
  </ion-list>

</ion-content>