page-request-cancel {
    .card-header {
        padding: 7px 16px 7px 13px;
        text-align: center;
        color: #07388e;
        text-decoration: underline;
    }
    .card-md {
        border-radius: 5px;
        box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .content {
        color: #545454;
    }
}