page-credit-given-cvf {
    [col-12] {
        padding: 5px 0px;
    }
    .container {
        margin-left: 0px;
    }
    .input-reg {
        padding-top: 5px !important
    }
    a {
        color: #07388e !important
    }
}