page-transporter {
  
    .card {
    margin: -10px 0px 10px 0px !important;
    width: 100%;
  }

  .card-content {
    padding: 0px 0px;
  }

  .pumpwisepayments {
    background-color: #357abf;
    color: #ffffff;
  }

  .pumpwisepayments2 {
    background-color: #bfdefe;
    color: #202020;
   
  }
  label-ios {
    margin: -159px 8px 11px 0;
}
  
  .pumpwisepayments3 {
    background-color: #a2d0ff;
    color: #202020;
   
  }

  .pumpwiselimit {
    background-color: #1a7b31;
    color: #ffffff;
  }
  
  .pumpwiselimit2 {
    background-color: #c9e8d1;
    color: #202020;
  }
  
  .pumpwiselimit3 {
    background-color: #b4e0be;
    color: #202020;
  }

  .pumpwiseconsumed {
    background-color: #c12130;
    color: #ffffff;
  }
  
  .pumpwiseconsumed2 {
    background-color: #f5d8db;
    color: #202020;
  }
  
  .pumpwiseconsumed3 {
    background-color: #f2b5bb;
    color: #202020;
  }

  .pumpwiserequests{
    background-color: #0c7e90;
    color: #ffffff;
  }
  
  .pumpwiserequests2 {
    background-color: #c5e7ed;
    color: #202020;
  }
  
  .pumpwiserequests3 {
    background-color: #a7dce4;
    color: #202020;
  }

}
