<ion-header>
   
  <ion-navbar hideBackButton>
    <ion-row>
      <ion-col col-1>
        <ion-icon ios="ios-home" style="font-size: 1.7em;color: white;" md="md-home" (click)="home()"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <ion-title text-capitalize class="centerali">{{trans.name}} [{{trans.title}}]</ion-title>
      </ion-col>
      <ion-col col-1>
        <button ion-button  float-right menuToggle icon-only style="display: block !important;" (click)="menuClick()">
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
    
</ion-header>

<ion-content padding="true" overflow-scroll="false" has-bouncing="false">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Pumpwise Payments -->
  <!-- <div text-wrap (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}">
    <div class="info-box bg-primary">
      <div    class="info-box-content">
        <ion-row text-wrap class="mar">
          <span class="info-box-text">Pumpwise Payments<br> (Last 7 Days)</span>
        </ion-row>
      </div>
      <div class="info-box-content" style="text-align:right;">
        <span class="info-box-number">
          <ion-icon item-right [name]="isGroupShown(1) ? 'arrow-dropdown' : 'arrow-dropright'" style="padding-left: 10px;"></ion-icon>
        </span>
      </div>
    </div>
    <div *ngIf="isGroupShown(1)">
      <ion-card>
        <ion-card-content>

          <ion-row align-items-start>
            <ion-col class="pumpwisepayments3">
              <ion-item class="pumpwisepayments3" style="color:red;">
                <ion-label text-wrap slack style="padding-left: 10px;color:red;font-size: inherit;">Select Pump</ion-label>
                <ion-select [(ngModel)]="trans.pumpId" #reqPayment (ionChange)="selectPump(reqPayment.value)">
                  <ion-option *ngFor="let pump of trans.pumpList;let i = index" [value]="pump.id">
                    {{pump.name}}
                  </ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="pumpwisepayments" align-items-start>
            <ion-col  style="margin-left:0px;">
              Date
            </ion-col>
            <ion-col text-right>
              Due
            </ion-col>
            <ion-col  text-right>
              Paid
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let pay of trans.paymentList;let index=index; let odd=odd; let even=even;" class="row"
            [ngClass]="{ pumpwisepayments2: odd, pumpwisepayments3: even}">
            <ion-col style="margin-left:0px;" text-wrap>
              {{pay.date |dateTimeFormat}}
            </ion-col>
            <ion-col *ngIf="pay.dueAmount!==0" text-wrap text-right>
              {{pay.dueAmount |Mcurrency}}
            </ion-col>
            <ion-col *ngIf="pay.dueAmount==0" text-wrap  text-right>
              -
            </ion-col>
            <ion-col *ngIf="pay.paid!==0" text-wrap text-right >
              {{pay.paid |Mcurrency}}
            </ion-col>
            <ion-col *ngIf="pay.paid==0" text-wrap text-right>
              -
            </ion-col>

          </ion-row>

          <ion-row  class="pumpwisepayments" align-items-start>
            <ion-col  style="margin-left:0px;" col-3>
              <b>Total</b>
            </ion-col>
            <ion-col *ngIf="payment.totDueAmount!==0" text-wrap  text-right>
              <b>{{payment.totDueAmount |Mcurrency}}</b>
            </ion-col>
            <ion-col  *ngIf="payment.totDueAmount==0" text-wrap text-right>
              -
            </ion-col>
            <ion-col *ngIf="payment.totPaid!==0" text-wrap  text-right>
              <b>{{payment.totPaid |Mcurrency}}</b>
            </ion-col>
            <ion-col *ngIf="payment.totPaid==0" text-wrap  text-right >
              -
            </ion-col>

          </ion-row>

          <ion-row  class="pumpwisepayments2"text-center>
            <ion-col  style="margin-left:0px;">
              <span style="color:red;">*</span>All Amount in<b> Rs</b>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </div>
  </div> -->

  <!-- Pumpwise Credit Limit -->
  <!-- <div text-wrap (click)="toggleGroup(2)" [ngClass]="{active: isGroupShown(2)}">
    <div class="info-box bg-success">
      <div class="info-box-content">
        <ion-row class="mar">
          <span class="info-box-text">Pumpwise Credit Limit</span>
        </ion-row>
      </div>
      <div class="info-box-content" style="text-align:right;">
        <span class="info-box-number">
          <ion-icon item-right [name]="isGroupShown(2) ? 'arrow-dropdown' : 'arrow-dropright'" style="padding-left: 10px;"></ion-icon>
        </span>
      </div>
    </div>
    <div *ngIf="isGroupShown(2)">
      <ion-card>
        <ion-card-content>

          <ion-row align-items-start>
            <ion-col class=" pumpwiselimit3">
              <ion-item class="pumpwiselimit3" style="color:red;">
                <ion-label slack style="padding-left: 10px;color:red;font-size: inherit;">Select Pump</ion-label>
                <ion-select [(ngModel)]="trans.pumpId" #reqCredit (ionChange)="selectPump(reqCredit.value)">
                  <ion-option *ngFor="let pump of trans.pumpList;let i = index" [value]="pump.id">
                    {{pump.name}}
                  </ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row  class="pumpwiselimit2" align-items-start>
            <ion-col  style="margin-left:0px;">
              Allotted Limit (Rs)
            </ion-col>
            <ion-col *ngIf="creditLimit.limitAllocated!==0" text-right>
              {{creditLimit.limitAllocated |Mcurrency}}
            </ion-col>
            <ion-col *ngIf="creditLimit.limitAllocated==0" text-right>
              -
            </ion-col>
          </ion-row>

          <ion-row class="pumpwiselimit3" align-items-start>
            <ion-col  style="margin-left:0px;">
              Used Limit (Rs)
            </ion-col>
            <ion-col *ngIf="creditLimit.usedLimit!==0"  text-right>
              {{creditLimit.usedLimit |Mcurrency}}
            </ion-col>
            <ion-col *ngIf="creditLimit.usedLimit==0"  text-right>
              -
            </ion-col>
          </ion-row>

          <ion-row align-items-start class="pumpwiselimit2">
            <ion-col style="margin-left:0px;">
              <b>Available Limit (Rs)</b>
            </ion-col>
            <ion-col *ngIf="creditLimit.balanceLimit!==0" text-right>
              <b>{{creditLimit.balanceLimit |Mcurrency}}</b>
            </ion-col>
            <ion-col *ngIf="creditLimit.balanceLimit==0" text-right>
              -
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </div>
  </div> -->

  <!-- Pumpwise Consumed -->
  <div text-wrap (click)="toggleGroup(4)" [ngClass]="{active: isGroupShown(4)}">
    <div class="info-box bg-primary">
      <div class="info-box-content">
        <ion-row class="mar">
          <span class="info-box-text">Pumpwise Consumed<br> (Last 7 Days)</span>
        </ion-row>
      </div>
      <div class="info-box-content" style="text-align:right;">
        <span class="info-box-number">
          <ion-icon item-right [name]="isGroupShown(4) ? 'arrow-dropdown' : 'arrow-dropright'" style="padding-left: 10px;"></ion-icon>
        </span>
      </div>
    </div>
    <div *ngIf="isGroupShown(4)">
      <ion-card>
        <ion-card-content>
          <ion-row align-items-start>
            <ion-col class=" pumpwisepayments3">
              <ion-item class="pumpwisepayments3" style="color:red;">
                <ion-label slack style="padding-left: 10px;color:red;font-size: inherit;">Select Pump</ion-label>
                <ion-select [(ngModel)]="trans.pumpId" #reqPump (ionChange)="selectPump(reqPump.value)">
                  <!-- <ion-option value=0 selected>All</ion-option> -->
                  <ion-option *ngFor="let pump of trans.pumpList;let i = index" [value]="pump.id">
                    {{pump.name}}
                  </ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row align-items-start class="pumpwisepayments">
            <ion-col >
              Date
            </ion-col>
            <ion-col  text-right>
              Fuel Amt
            </ion-col>
            <ion-col text-right>
              Cash
            </ion-col>
            <ion-col  text-right>
              Total Amt
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let consume of trans.consumedList;let index=index; let odd=odd; let even=even;" class="row"
            [ngClass]="{ pumpwisepayments2: odd, pumpwisepayments3: even}">

            <ion-col style="margin-left:0px;">
              {{consume.date |dateTimeFormat}}
            </ion-col>
            <ion-col *ngIf="consume.fuelAmount!==0" text-right>
              {{consume.fuelAmount |Mcurrency}}
            </ion-col>
            <ion-col *ngIf="consume.fuelAmount==0" text-right>
              -
            </ion-col>
            <ion-col *ngIf="consume.cashAmount!==0" text-right>
              {{consume.cashAmount |Mcurrency}}
            </ion-col>
            <ion-col *ngIf="consume.cashAmount==0" text-right>
              -
            </ion-col>
            <ion-col *ngIf="consume.totalAmount!==0" text-right>
              {{consume.totalAmount |Mcurrency}}
            </ion-col>
            <ion-col *ngIf="consume.totalAmount==0" text-right>
              -
            </ion-col>
          </ion-row>

          <ion-row class="pumpwisepayments"  align-items-start>
            <ion-col  style="margin-left:0px;">
              <b>Total</b>
            </ion-col>
            <ion-col text-right *ngIf="consumed.totFuelAmount!==0">
              <b>{{consumed.totFuelAmount |Mcurrency}}</b>
            </ion-col>
            <ion-col class="pumpwisepayments" *ngIf="consumed.totFuelAmount==0" text-right>
              <b>-</b>
            </ion-col>

            <ion-col  text-right *ngIf="consumed.totCashAmount!==0">
              <b>{{consumed.totCashAmount |Mcurrency}}</b>
            </ion-col>
            <ion-col  *ngIf="consumed.totCashAmount==0" text-right>
              <b>-</b>
            </ion-col>

            <ion-col  text-right *ngIf="consumed.totTotalAmount!==0">
              <b>{{consumed.totTotalAmount |Mcurrency}}</b>
            </ion-col>
            <ion-col class="pumpwisepayments" *ngIf="consumed.totTotalAmount==0" text-right>
              <b>-</b>
            </ion-col>

          </ion-row>

          <ion-row class="pumpwisepayments2"  text-center>
            <ion-col style="margin-left:0px;">
              <span style="color:red;">*</span>All Amount in<b> Rs</b>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <!-- Pending Requests -->
  <div text-wrap (click)="toggleGroup(3)" [ngClass]="{active: isGroupShown(3)}">
    <div class="info-box bg-success">
      <div class="info-box-content">
        <ion-row class="mar">
          <span class="info-box-text">Pending Requests</span>
        </ion-row>
      </div>
      <div class="info-box-content" style="text-align:right;">
        <span class="info-box-number">
          <ion-icon item-right [name]="isGroupShown(3) ? 'arrow-dropdown' : 'arrow-dropright'" style="padding-left: 10px;"></ion-icon>
        </span>
      </div>
    </div>
    <div *ngIf="isGroupShown(3)">
      <ion-card>
        <ion-card-content>

          <ion-row align-items-start>
            <ion-col class=" pumpwiselimit3">
              <ion-item class="pumpwiselimit3" style="color:red;">
                <ion-label slack style="padding-left: 10px;color:red;font-size: inherit;">Select Pump</ion-label>
                <ion-select [(ngModel)]="trans.pumpId" #request (ionChange)="selectPump(request.value)">
                  <!-- <ion-option value=0 selected>All</ion-option> -->
                  <ion-option *ngFor="let pump of trans.pumpList;let i = index" [value]="pump.id">
                    {{pump.name}}
                  </ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="pumpwiselimit2" align-items-start>
            <ion-col  style="margin-left:0px;">
              <b>Pending Requests</b>
            </ion-col>
            <ion-col  text-right>
              <b>{{pending.requestCt |Mcurrency}}</b>
            </ion-col>

          </ion-row>

          <ion-row class="pumpwiselimit3" align-items-start>
            <ion-col  style="margin-left:0px;">
              <b>Pending Cash (Rs)</b>
            </ion-col>
            <ion-col  text-right *ngIf="pending.sumCash!==0">
              <b>{{pending.sumCash |Mcurrency}}</b>
            </ion-col>
            <ion-col *ngIf="pending.sumCash==0" text-right>
              <b>-</b>
            </ion-col>

          </ion-row>

        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <!-- Fuel Rate -->
  <div text-wrap (click)="toggleGroup(5)" [ngClass]="{active: isGroupShown(5)}">
    <div class="info-box bg-primary">
      <div class="info-box-content">
        <ion-row class="mar">
          <span class="info-box-text">Fuel Rate</span>
        </ion-row>
      </div>
      <div class="info-box-content" style="text-align:right;">
        <span class="info-box-number">
          <ion-icon item-right [name]="isGroupShown(5) ? 'arrow-dropdown' : 'arrow-dropright'" style="padding-left: 10px;"></ion-icon>
        </span>
      </div>
    </div>
    <div *ngIf="isGroupShown(5)">
      <ion-card>
        <ion-card-content>
          <ion-row align-items-start>
            <ion-col class=" pumpwisepayments3">
              <ion-item class="pumpwisepayments3" style="color:red;">
                <ion-label slack style="padding-left: 10px;color:red;font-size: inherit;">Select Pump</ion-label>
                <ion-select [(ngModel)]="trans.ProductPumpId" #reqPump (ionChange)="selectProductPump(reqPump.value)">
                  <ion-option *ngFor="let pump of trans.pumpList;let i = index" [value]="pump.id">
                    {{pump.name}}
                  </ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row  class="pumpwisepayments" align-items-start>
            <ion-col >
              Product
            </ion-col>
            <ion-col text-right>
              Rate
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let consume of productsList;let index=index; let odd=odd; let even=even;" class="row"
            [ngClass]="{ pumpwisepayments3: odd, pumpwisepayments2: even}">

            <ion-col style="margin-left:0px;">
              {{consume.productName}}
            </ion-col>
            <ion-col text-right>
              {{consume.currentRate |Mcurrency:'2'}}
            </ion-col>
          </ion-row>
          <ion-row class="pumpwisepayments2" text-center>
            <ion-col  style="margin-left:0px;">
              <span style="color:red;">*</span>All rates are<b> as Per Liter</b>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>

<ion-footer>

  <ion-row>
    <ion-col col-6 style="padding: 0;">
      <button ion-button full (click)="addRequest()" class="footer-btn">
        Raise Request
      </button>
    </ion-col>
    <ion-col col-6 style="padding: 0;">
      <button ion-button full color="positive" full (click)="RequestListPage()" class="footer-btn">
        My Requests
      </button>
    </ion-col>
  </ion-row>

</ion-footer>