page-dsm-reports {
    .scroll-content {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    [col-6] {
        padding: 3px;
    }
    .button {
        font-size: 1.2rem;
    }
}