page-sales-list {
    .tab-bg-assertive {
        background-color: #ef473a;
        color: #ffffff;
        font-size: 1.3rem;
    }
    .item {
        border-bottom: 1px solid #dedede;
        padding-left: 0px;
    }
}
