<!--
  Generated template for the ManagerListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
   
  <ion-navbar hideBackButton>
    <ion-row>
      <ion-col col-1>
        <ion-icon ios="ios-home" style="font-size: 1.7em;color: white;" md="md-home" (click)="home()"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <ion-title class="centerali">Manager List</ion-title>
      </ion-col>
      <ion-col col-1>
        <button ion-button float-right menuToggle icon-only style="display: block !important;" (click)="menuClick()">
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
  
  <ion-segment [(ngModel)]="categories">
    <ion-segment-button value="active">
      Active List <ion-badge item-end>{{active}}</ion-badge>
    </ion-segment-button>
    <ion-segment-button value="deactive">
      Deactive List <ion-badge item-end>{{deactive}}</ion-badge>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content padding="true" overflow-scroll="false" has-bouncing="false">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    {{errorMsg}}
    <div [ngSwitch]="categories">

      <ion-list *ngSwitchCase="'active'">
        <ion-item *ngFor="let manager of managers" (click)="viewManager(manager.id)">
          <ion-avatar item-start>
            <img src="assets/imgs/manager.png">
          </ion-avatar>
          <h5 text-uppercase>{{manager.name}}</h5>
          <h6 text-capitalize>{{manager.mobileNo}}</h6>
        </ion-item>
        <div *ngIf=show text-center>
          Sorry No current Managers are activated.
        </div>
      </ion-list>

      <ion-list *ngSwitchCase="'deactive'">
        <ion-item *ngFor="let manager of deacmanagers" (click)="viewManager(manager.id)">
          <ion-avatar item-start>
            <img src="assets/imgs/manager.png">
          </ion-avatar>
          <h5 text-uppercase>{{manager.name}}</h5>
          <h6 text-capitalize>{{manager.mobileNo}}</h6>
        </ion-item>
        <div *ngIf=hide text-center>
          Sorry No current Managers are decativated.
        </div>
      </ion-list>

    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col col-12 style="padding: 0;">
      <button ion-button full (click)="addManager()" style="margin-top: 0;margin-bottom: 0;height: 4.5rem;">
        Add Manager
      </button>
    </ion-col>
  </ion-row>
</ion-footer>